body {
	max-width: 96%;
	background-color: orange;
	
}

section.column-1 {
		float:left;
		background-color: green;
		position: relative;
  		width: 45%;
  		height: 100%;
  		
}

section.column-2 { 
		float:right;
		background-color: blue;
		height: 100%;
		width: 50%;
		padding-right: 2%;
}

header {
	background-color: red;

}

footer {
	background-color: gray;
	clear:both;
}