
body {
  max-width: 96%;
}


blockquote {
  border-left: 5px solid blue;
  padding: 15px;
  margin-left: 0px;
}

cite {
  display: block;
  margin-top: 10px;
}

#external-links ul {
  list-style-type: none;
  padding-left: 0px;
}

#external-links {
  width: 20%;
}

section#external-links {
display: block, vertical-align;  
position: fixed;
top: 80px;
width: 20%;
height: 100%;   
text-decoration: none;
font-size: 10px;
color: blue;
z-index: 0;
}

section#external-links a {
font-size: 10px;
padding-left: 10px;
padding-right: 15px;
padding-top: 30px;
color: black;
text-decoration: none;
text-align: center;
}

section#external-links li {
padding-top: 10%;
text-decoration: none;
list-style-type: none;
text-align: left;
font-size: 8px;
}

main {
width: 75%;
text-align: justify;
list-style-type: none;
font-size: 12pt;
padding-top: 55px;
padding-bottom: 30px;
padding-left: 12.5%;
margin-left: 5%;
margin-right: 2.5%;  
line-height:2;
}
  
/* you're welcome to edit the
image, figure, and figcaption CSS if you'd like, 
but it's optional! 
@media screen and (max-width: 500px) {
  body {
    background-color: hotpink;
  }
}
*/
img {
  width: 100%;
}


figure {
  margin-left: 0px;
  margin-right: 0px;
}

figcaption {
  font-style: italic;
  text-align: right;
}


@media screen and (max-width: 700px) {
  blockquote {
    background-color: blue;
  }
}

@media screen and (max-width: 700px) {
  section#external-links {
    width: 10%;
    font-size: 6px;
    background-color: orange;
  }
}

@media screen and (max-width: 700px) {
  main h1 {
    font-size: 15px;
  }
}



