body {
  width: 960px;
}


blockquote {
  border-left: 5px solid blue;
  padding: 15px;
  margin-left: 0px;
}

cite {
  display: block;
  margin-top: 10px;
}

#external-links ul {
  list-style-type: none;
  padding-left: 0px;
}

#external-links {
  width: 200px;
}

section#external-links {
position: fixed;
top: 80px;
width: 200px;
height: 100%;   
text-decoration: none;;
font-size: 18px;
color: red;
z-index: 0;
}

section#external-links a {
font-size: 14px;
padding-left: 15px;
padding-right: 15px;
padding-top: 30px;
color: black;
text-decoration: none;
text-align: center;
}

section#external-links li {
padding-top: 10%;
text-decoration: none;
list-style-type: none;
text-align: left;
font-size: 8px;
}

/* you're welcome to edit the
image, figure, and figcaption CSS if you'd like, 
but it's optional! */
img {
  width: 100%;
}


figure {
  margin-left: 0px;
  margin-right: 0px;
}

figcaption {
  font-style: italic;
  text-align: right;
}
