
.octopus {
  position: absolute;
  margin-top: 291px;
  margin-left: 610px;
}
.hat {
  position: absolute;
  margin-top: 230px;
  margin-left: 590px;
}

.glasses {
  position: absolute;
  margin-top: 389px;
  margin-left: 650px;
}