section#contact-info {
  position: fixed;
  top: 0px;
  right: 0px;
  text-align: center;
  width: 100%;
  background-color: white;
  border-bottom: 1px solid black;
  padding: 20px;
  font-size: .8em;
}

.job {
	
	background-color: #e9e5dc;
	padding: 10px;
	border-radius: 15px;
	margin-top: 20px;
}

.new {
	font-size: .8em;
}

ul:hover > li {
	display: list-item;
}